/*Hoja de estilos Index.css*/
* {
    font-family: "roboto", Arial, sans-serif;
    margin: 4px;
    padding: 0;
    background-color: #ffffff;
    width: 90%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: auto;
}

header div{
    background: linear-gradient(to right, #0af729, #781ff5);
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img {
    width: 150px;
    height: 100px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

body header{
    display: flex;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background: #e9880a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input{
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button{
    width: 100px;
    background-color: #0af729;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}
button:hover{
    background-color: #0d9e1a;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer h6{
    text-align: center
}